includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 1 provides baseline static analysis checking for undefined methods, variables, and syntax errors
    level: 1

    excludePaths:
        - app/Http/Controllers/KPI/TargetKPIControllercoppy.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
